extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                p rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Maecenas ultricies mi eget mauris. Enim sed faucibus turpis in eu mi bibendum neque. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Neque egestas congue quisque egestas diam in. Sed egestas egestas fringilla phasellus faucibus scelerisque. Id diam vel quam elementum pulvinar etiam non. Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Neque gravida in fermentum et sollicitudin ac. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Dignissim diam quis enim lobortis scelerisque. Est ante in nibh mauris cursus mattis. Sit amet purus gravida quis blandit turpis cursus. Nisl rhoncus mattis rhoncus urna neque viverra justo nec. Proin fermentum leo vel orci porta non pulvinar.

        .listado-iconos
            .container.mt-5.py-5.text-center
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Maecenas ultricies mi eget mauris.

                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Maecenas ultricies mi eget mauris.

                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Maecenas ultricies mi eget mauris.    